# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

client/node_modules/
client/typings/
client/app/**/*.map
client/app/**/*.js
client/*.log

server/node_modules/
server/*.db
server/*.log


